<!--Heredamos de la plantilla base -->
{% extends 'base/baseadmin.html' %}
{% block content %}
<h1>Usuarios</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>Nombre de usuario</td>
            <td>Correo</td>
            <td>Rol superuser</td>
  

        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        <!--Si hay usuarios-->
        {% for usuario in object_list %}
        <!--Relice un ciclo que genere una fila por cada registro-->
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.first_name }}</td>
            <td>{{ usuario.last_name }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.is_superuser }}</td>
 
            
            <td>
                <a class="btn btn-primary" href="{% url 'usuario:editar_usuario' usuario.id %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'usuario:eliminar_usuario' usuario.id %}">Eliminar</a>
            </td>
            

        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registro de usuarios</h1>
        {% endif %}
    </tbody>

</table>

{% endblock %}