<!--Heredamos de la plantilla base -->
{% extends 'base/baseadmin.html' %}
{% block content %}
<table class="table table-bordered">
    <h1>Lista de propietarios</h1>
    <thead>
        <tr>
            <td>Numero de identificacion</td>
            <td>Nombres</td>
            <td>Apellidos</td>
            <td>Telefono 1</td>
            <td>Telefono 2</td>
            <td>Celular</td>
            <td>Correo</td>
            <td>Usuario</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        <!--Si hay propietarios-->
        {% for propietario in object_list %}
        <!--Relice un ciclo que genere una fila por cada registro-->
        <tr>
            <td>{{ propietario.numero_identificacion }}</td>
            <td>{{ propietario.nombres }}</td>
            <td>{{ propietario.apellidos }}</td>
            <td>{{ propietario.telefono1 }}</td>
            <td>{{ propietario.telefono2 }}</td>
            <td>{{ propietario.celular }}</td>
            <td>{{ propietario.correo }}</td>
            <td>{{ propietario.usuario }}</td>
            {% if perms.personas.add_persona %}
            <td>
                <a class="btn btn-primary" href="{% url 'propietario:editar_propietario' propietario.numero_identificacion %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'propietario:eliminar_propietario' propietario.numero_identificacion %}">Eliminar</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registro de propietarios</h1>
        {% endif %}
    </tbody>

</table>

{% endblock %}