<!--Heredamos de la plantilla base -->
{% extends 'base/baseadmin.html' %}
{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Direccion</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        <!--Si hay conjuntos-->
        {% for conjunto in object_list %}
        <!--Relice un ciclo que genere una fila por cada registro-->
        <tr>
            <td>{{ conjunto.id }}</td>
            <td>{{ conjunto.nombre_conjunto }}</td>
            <td>{{ conjunto.direccion_conjunto }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'conjunto:editar_conjunto' conjunto.id %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'conjunto:eliminar_conjunto' conjunto.id %}">Eliminar</a>
            </td>

        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registro de conjuntos</h1>
        {% endif %}
    </tbody>

</table>

{% endblock %}